/* apply a natural box layout model to all elements, but allowing components to change */
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body {
	height: 100%;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;	font-s;
}

.container {
	height: 100%;
	z-index: 1;
}

.header{
	width: 100%;
	height: 80px;
	padding: none;
	background-color: black;
	position: absolute;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: space-between;
	position: fixed;
}

.h3 {
	color: white;
	font-size: 22px;
	margin-top: 0;
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: 300;
	letter-spacing: 0.03em;
}

.nav {
	display: flex;
	width: 50%;
	flex-basis: 75%;
	justify-content: space-around;
	padding-top: 20px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #32CF9F;
}

.h1 {
	color: #28AF7D;
	font-size: 24px;
	margin-top: 0;	
	font-weight: 400;
	letter-spacing: 0.03em;
	text-decoration: none;
	
}

.nav .btn {
	width: 100px;
	text-align: center;
	height: 50px;
	background-color: #28AF7D;
}

.logo {
	flex-basis: 25%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding-top: 20px;
}

.top {
	background-image: url('../images/notmine.jpg');
}

.modal {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.content {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: rgba(255,255,255,0.8);
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 0.03em;
	text-transform: lowercase;
}

.middle {
}

.triptych {
	height: 100%;
	width: 100%;
	display: flex;
}

.trifold {
	height: 100%;
	flex-basis: calc(100% / 3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 20px;
}	

.trifold.left {

}

.trifold.middle {
}

.trifold.right {
}
	
.btm {
	
}

.icon {
	display: block;
	height: 100px;
	width: 100px;
	background-color: #28AF7D;
	border-radius: 10px;
	margin: 0 auto;
}

.triText {
	margin-top: 10px;
}

.triSubtext {
	font-size: 18px;
}


.bg-fix {
	height: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	max-width: 100%;
}

.app {
	width: 100%;
	max-width: 100%;
	height: calc(100% - 80px);
	position: absolute;
	bottom: 0px;
	background-image: url('../images/app-sketch.jpg');
	background-size: 100% 100%;
}

.fb {
	padding: 40px;
	height: calc(100% - 80px);
	position: absolute;
	bottom: 0;
	width: 100%;
}

.fbMsg {
	width: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}

.fb h3 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-weight: 300;
	letter-spacing: 0.03em;
}


